.container {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

.tableContainer {
  text-align: left;
  margin-top: 20px;
  table-layout: fixed;
}

.instructionsContainer {
  margin-top: 20px;
}
